Q1: You are working in a bank, and you have been given two lists of the employees who worked in 2021. Employees’ names in list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob, and Saritha. List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, and Sarita. Please write a program that helps to identify people who are common in both lists. Please do not use any in-built function.

In [61]:
l1 = ['Ramesh', 'Suresh', 'Mahesh','Ali', 'Jacob','Saritha']
l2 = ['Ali','Mukesh','Mahesh','Jacob','Sai','Sarita']

common_names = []

for i in l1:
  for j in l2:
    if i == j:
      common_names.append(i)

print('Common names: ',common_names)

Common names:  ['Mahesh', 'Ali', 'Jacob']

Q2: While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”. Please write a program which separates all the names and converts them into a list. Once converted into a list, please write a program that adds their age. 


Ramesh:  25

Suresh: 22

Mohit: 26

In [78]:
common_string ='Ramesh Suresh Mohit'

name = common_string.split()
age = [25,22,26]

combine = dict(zip(name,age))

print('Names -',name)
print('Names : Ages -',combine)

Names - ['Ramesh', 'Suresh', 'Mohit']
Names : Ages - {'Ramesh': 25, 'Suresh': 22, 'Mohit': 26}

Q3: You are working in a medical store. A patient came to your medical store and asked to buy 2 strips of paracetamol, 3 strips of azithromycin, and 5 strips of Vitamin C. One strip of paracetamol costs Rs 35, one strip of azithromycin costs Rs 49, and one strip of vitamin c costs Rs. 33. Patient gave you Rs 2000. Please tell us what is the total cost of each medicine, the total cost of all medicine, and how much money you refunded to the patient.

In [59]:
amount = int(input("Amount taken:")) 

paracip_strips = int(input("No. of paracetamol strips:" ))
azithro_strips = int(input("No. of azithromycin strips:" ))
vital_c_strips = int(input("No. of vitamin-c strips:" ))

med_list = {'Paracetamol':35,'Azithromycin':49,'Vitamin-C':33}

paracip = med_list['Paracetamol'] * paracip_strips
azithro =  med_list['Azithromycin'] * azithro_strips
vitals = med_list['Vitamin-C'] * vital_c_strips
billing_amt = paracip+azithro+vitals

print(f"""

Paracetamol costs: {paracip}
Azithromycin costs: {azithro}
Vitamin-C costs: {vitals}
Billing amount:{billing_amt} 

      """)

print(f"Refund amount:",amount-billing_amt)

Amount taken:2000
No. of paracetamol strips:2
No. of azithromycin strips:3
No. of vitamin-c strips:5


Paracetamol costs: 70
Azithromycin costs: 147
Vitamin-C costs: 165
Billing amount:382


Refund amount: 1618

Q4: Accept a sentence as input and find the number of vowels in it. Assume that the sentence has no punctuation marks. For example, I am learning python contains 6 vowels. This function should be applicable for all other different sentences.

In [51]:
sentence = input()

count = 0

vowels = ['a','e','i','o','u']

for i in range(len(sentence)):
  if sentence[i] in vowels:
    count += 1
print("The number of vowels in the senetence: ",count)

hi hello how are you
The number of vowels in the senetence:  8

Q5: You have been appointed by the election commission to create a website. Your first task is to work on a program which tells candidates if they are eligible for voting or not. If they are eligible, your output should be ‘Congrats! You are eligible’; otherwise, it should tell that you have to return after X number of years. The eligibility criteria for voting is 18 years. 


For example, If someone is 18 or above, your output should be ‘Congrats! You are eligible’. If someone’s age is 15 years, it should print output as ‘return after 3 years’.

In [34]:
age = int(input())

if age >= 18:
  print('Congrats! You are eligible')
else:
  print(f"Return after {18-age} years.")

15
Return after 3 years.

Q6: Given a list of integers, find the cumulative sum of the elements of the list and store them in another list.

A = [1, 2, 3, 4, 5]

Output: 

[1, 3, 6, 10, 15]

In [44]:

A = [1,2,3,4,5]
B = []
C = 0
for i in range(0,len(A)):
  C+=A[i]
  B.append(C)
print(B)

[1, 3, 6, 10, 15]